$dark-white: #f7f7f7;
$white: #ffffff;
$wheat: #F9DFC0;
$dark-green: #335248;
$green: #0ecc8d;
$light-green: #3ed6a4;
$dark-gray: #46475B;
$dark-gray-1: #444f5f;
$dark-gray-2:#686A70;
$dark-gray-3: #858EAD;
$gray: #97989d;
$gray-1: #c4c4c4;
$gray-2: #C5D0E6;
$light-gray: #f0f1fe;
$light-gray-2: #f4f6f8;
$light-gray-3: #E0E2FD;
$black: #000000;
$black-1: #1e252b;
$black-2: #262d34;
$black-3: #2c353d;
$yellow: #EEA956;
$dark-yellow:#EA942C;
$orange: #FF4401;
$orange-1:#FF6934;
$orange-2:#FF571A;
$light-orange: #FF8F67;
$brown: #473E3B;
$brown-1: #5A4F43;
$brown-2:#574D42;
$blue: #1769FF;
$light-blue: #5D95E8;
$violet: #848DF9;





