$dark-white: #f7f7f7;
$white: #ffffff;
$wheat: #f9dfc0;
$dark-green: #335248;
$green: #0ecc8d;
$light-green: #3ed6a4;
$dark-gray: #46475b;
$dark-gray-1: #444f5f;
$dark-gray-2: #686a70;
$dark-gray-3: #858ead;
$gray-hover: #495560;
$gray: #97989d;
$gray-1: #c4c4c4;
$gray-2: #c5d0e6;
$light-gray: #f0f1fe;
$light-gray-2: #f4f6f8;
$light-gray-3: #e0e2fd;
$black: #000000;
$black-1: #1e252b;
$black-2: #262d34;
$black-3: #2c353d;
$yellow: #eea956;
$dark-yellow: #ea942c;
$orange: #ff4401;
$orange-1: #ff6934;
$orange-2: #ff571a;
$light-orange: #ff8f67;
$brown: #473e3b;
$brown-1: #5a4f43;
$brown-2: #574d42;
$blue: #1769ff;
$light-blue: #5d95e8;
$violet: #848df9;
